NEXT_PUBLIC_SUPABASE_URL=https://uamvyxsbnbfjyqdxzxmx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhbXZ5eHNibmJmanlxZHh6eG14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MjczNjMsImV4cCI6MjEwNjIwMzM2M30.vrdPE4N0AbaDmOScuuEKNaFkb8VxuTsUnooPeV8zMH4
